﻿body 
{
    width:100%;
    text-align:left;
    margin: 0px;
    padding: 0px;
    color: #333;
    font-family: Arial,Helvetica;
    font-size: 12px;
    background-color: #fff;
}
h1
{
    color: #50852C;
    font-family: Georgia;
    text-align: center;
    font-size:40px;
}

.websiteContainer
{
    width:80%;
    margin-top:50px;
}

.loginContainer
{
    width:70%;
}

.imagesContainer
{
    float:left;
    width:50%;
}
.hr
{
    float:left;
    width:5%;
    height:100%;
    margin:50px 0px 0px 0px;
}
.contentContainer
{
    float:left;
    width:45%;
    text-align:left;
}

.btnGeneric
{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    background: #59B147;
    background: -moz-linear-gradient(top,#59B147 0%,#498636 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#59B147),color-stop(100%,#498636));
    background: -webkit-linear-gradient(top,#59B147 0%,#498636 100%);
    background: -o-linear-gradient(top,#59B147 0%,#498636 100%);
    background: -ms-linear-gradient(top,#59B147 0%,#498636 100%);
    background: linear-gradient(top,#59B147 0%,#498636 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59B147',endColorstr='#498636',GradientType=0);
    padding:5px 10px;
}

.btnGeneric:hover {
    background: #266fc1;
}


.txtBox {
    margin-top: 2px;
    font-size: 14px;
    height: 18px;
    font-weight: normal;
    border: solid 1px #ccc;
    padding: 5px 2px 2px 5px !important;
}


