.well.ProfileSection{background: #fff333 !important;color: #ff0000 !important;}
.rankStatus{background: #333333;color: #344fff;}
.progressBarSection{background: #fff333;}
.progressBar{background: #222ddd;}
.top-link{background: #fff333;color: #333fff;}
.top-link-2{background:  #fff999;color: #333fff;}
.well-small.Blue2{background: #fff333 !important;color: #ff0000 !important;}
.infobox.well-small{background: #fff333 !important;color: #333fff !important;}
#TopDiv.well-short{background: #bb33bb !important;}
.missionInformation{color: #ff0000 !important;}
.span9{color: #ff11ff !important;}
#missionPoints.span2 span{color: #ffee00 !important;}
.well-short{background: #fff333 !important;color: #333fff !important;}
.top-bar-alternative{background: #fff333;border-color: #fff333;}
.Colour1.KnowledgeBaseBlock{background: #eee111;color: #ff0000;}
.Colour2.KnowledgeBaseBlock{background: #bbb222;color: #ffbbbb;}
.Colour3.KnowledgeBaseBlock{background: #fff333;color: #333fff;}
a{color: #ff0000;}
.anchorAlt{color: #fff333;}
.span2.PointsSection{background: #333fff;color: #fff333;}
.showcaseSection.Black{background: #fff333;color: #333fff;}
.showcaseSection.Blue1{background: #fff333 !important;color: #333fff !important;}
.showcaseSection.Blue2{background: #fff333 !important;color: #333fff !important;}
.showcaseSection.Blue3{background: #fff333 !important;color: #333fff !important;}
.well{background: #ff5555 !important;color: #333fff !important;}
.AchieverSection{color: #333fff !important;}
.top-bar{background: #fff333;border-color: #fff333;}
.TAAF{background: #fff333;border-color: #fff333;}
h3{color: #222bbb !important;text-shadow: 0 1px 0 #fff333 !important;}
.missionHeading.black{color: #ff0000 !important;}
.Green3.btn{background: #ddd000;color: #333fff;}
#MenuBar.navbar-inner{background: #fff333 !important;}
.nav{background: #fff333 !important;}
.textboxAlt{background: #bbb111 !important;color: #00ff00 !important;}
.textbox{background: #bbb111 !important;color: #00ff00 !important;}
