.login-box.clearfix.animated.flipInY{background: #ffffff !important;}
.buttonHolder{background: #ffffff !important;}
.btn.btn-white{background: #54585a !important;color: #ffffff !important;}
a{color: #54585a !important;}
