.login-box.clearfix.animated.flipInY{background: #fff333 !important;}
.buttonHolder{background: #fff333 !important;}
.btn.btn-white{background: #ddd000 !important;color: #dddeee !important;}
a{color: #333333 !important;}
