.login-box.clearfix.animated.flipInY{background: #333ddd !important;}
.buttonHolder{background: #333ddd !important;}
.btn.btn-white{background: #222eee !important;color: #111eee !important;}
a{color: #111eee !important;}
