.well.ProfileSection{background: #9d2235 !important;color: #ffffff !important;}
.rankStatus{background: #9d2235;color: #ffffff;}
.progressBarSection{background: ;}
.progressBar{background: ;}
.top-link{background: ;color: ;}
.top-link-2{background: ;color: ;}
.well-small.Blue2{background:  !important;color:  !important;}
.infobox.well-small{background: #333333 !important;color:  !important;}
#TopDiv.well-short{background: #22929d !important;}
.missionInformation{color: #ffffff !important;}
.span9{color: #ffffff !important;}
#missionPoints.span2 span{color: #ffffff !important;}
.well-short{background:  !important;color:  !important;}
.top-bar-alternative{background: ;border-color: ;}
.Colour1.KnowledgeBaseBlock{background: ;color: ;}
.Colour2.KnowledgeBaseBlock{background: ;color: ;}
.Colour3.KnowledgeBaseBlock{background: ;color: ;}
a{color: ;}
.anchorAlt{color: ;}
.span2.PointsSection{background: #9d2235;color: #ffffff;}
.showcaseSection.Black{background: ;color: ;}
.showcaseSection.Blue1{background:  !important;color:  !important;}
.showcaseSection.Blue2{background:  !important;color:  !important;}
.showcaseSection.Blue3{background:  !important;color:  !important;}
.well{background:  !important;color:  !important;}
.AchieverSection{color:  !important;}
.top-bar{background: ;border-color: ;}
.TAAF{background: ;border-color: ;}
h3{color:  !important;text-shadow: 0 1px 0  !important;}
.missionHeading.black{color:  !important;}
.Green3.btn{background: #9d2235;color: #ffffff;}
#MenuBar.navbar-inner{background:  !important;}
.nav{background:  !important;}
.textboxAlt{background:  !important;color:  !important;}
.textbox{background:  !important;color:  !important;}
