.genericHeadingDark{background: #333333;color: #ffffff;}
.rightMenuContainer{background: #54585a url('http://www.accelerate.client-demo.co.za/images/imgRightPanel_bg.png') top left no-repeat; color: #ffffff;}
.percentageBlue{background-color: #00ff00;}
.nav-collapse a{background: #ffffff !important;}
.nav-collapse a:hover{background: 54585a !important;}
.nav-collapse a{color: 54585a !important;}
.nav-collapse a:hover{color: #9D2235 !important;}
.homeHeaderContainer{background: #54585a;}
.arrow-down{border-top: 20px solid #54585a;}
.NotificationsItemContainer{border-bottom: 2px solid #54585a;}
.rightMenuContainer{color: #ffffff;}
.NotificationsMessage{color: #ffffff;}
.linkWhite{color: #ffffff !important;}
.achieverDetails { color: #ffffff !important;}
.textField{ color: #ffffff !important;}
.genericMainHeading{background-color: 333333;}
.genericMainHeading h2{color: #ffffff;}
.grid figcaption{background: 333333;}
.grid figcaption h3{color: #ffffff;}
.missionHeader{background-color: 333333;}
.homeAchievementImageContainer{color: #ffffff;}
.green{color: #ffffff !important;}
.orange{color: #ffffff;}
.progress-bar{background-color: #00ff00;}
.missionHeading{color: #54585a;}
.ProfileHead{color: #ffffff !important;}
.ovalAchiementStage{color : #ffffff;}
.ovalAchiementStage span{color : #54585a;}
.emailHeaderBanner{background-color: #54585a;}
.roundedCornerBox{background-color: #ffffff !important;}
.completeMissionInner{background: #54585a !important;}
