/*strProfileBackgroundColour strProfileColourText */
.well.ProfileSection{background: #fff333 !important;color: #ff0000 !important;}


/*strRankBackgroundColour strRankTextColour */
.rankStatus{background: #333333;color: #344fff;}

/*strProgressBarSectionBackgroundColour strProgressBarFillerColour */
.progressBarSection{background: #fff333;}
.progressBar{background: #222ddd;}

/*strInformationBarTopBackgroundColour strInformationBarTopTextColour strInformationBarBackgroundColour strInformationBarTextColour*/
.top-link{background: #fff333;color: #333fff;}
.top-link-2{background: #fff999;color: #333fff;}


/*heading-small{background: #333fff;color: #333fff;}*/

/*strTipsBackgroundColour strTipsTextColour*/
.well-small.Blue2{background: #fff333 !important;color: #ff0000 !important;}

/*strIntroductionBackgroundColour strIntroductionTextColour*/
.infobox.well-small{background: #fff333 !important;color: #333fff !important;}

/*strMissionInfoBackgroundColour strMissionInfoTitleTextColour strMissionInfoTextColour strMissionInfoPointsColour*/
#TopDiv.well-short{background: #bb33bb !important;}
.missionInformation{color: #ff0000 !important;}
.span9{color: #ff11ff !important;}
#missionPoints.span2 span{color: #ffee00 !important;}

/*strGeneralInfoBoxBackgroundColour strGeneralInfoBoxTextColour*/
.well-short{background: #fff333 !important;color: #333fff !important;}

/*strGeneralInfoBoxHeaderBackgroundColour strGeneralInfoBoxHeaderTextColour*/
.top-bar-alternative{background: #fff333; border-color:#fff333;}

/*strKnowledgeBaseBlockColour1 strKnowledgeBaseBlockColour2 strKnowledgeBaseBlockColour3 strKnowledgeBaseBlockLinkColour*/
.Colour1.KnowledgeBaseBlock{background: #eee111;color: #ff0000;}
.Colour2.KnowledgeBaseBlock{background: #bbb222;color: #ffbbbb;}
.Colour3.KnowledgeBaseBlock{background: #fff333;color: #333fff;}
a{color:#ff0000}

/*strMandatoryeLearningLinkColour*/
.anchorAlt{color:#ff0000}

/*strHomePointsBackgroundColour strHomePointsTextColour*/
.span2.PointsSection{background: #fff333;color: #333fff;}

/*strShowcaseBackgroundColour strShowcaseTextColour*/
.showcaseSection.Black{background: #fff333;color: #333fff;}

/*strPhase1BackgroundColour strPhase1TextColour strPhase2BackgroundColour strPhase2TextColour strPhase3BackgroundColour strPhase3TextColour*/
.showcaseSection.Blue1{background: #fff333 !important;color: #333fff !important;}
.showcaseSection.Blue2{background: #fff333 !important;color: #333fff !important;}
.showcaseSection.Blue3{background: #fff333 !important;color: #333fff !important;}

/*strContentBoxBackgroundColour strContentBoxTextColour strTopAchieversTextColour strContentBoxHeaderBackgroundColour strContentBoxHeaderTextColour*/
.well{background: #ff5555 !important;color: #333fff !important;}
.AchieverSection{color: #333fff !important;}
.top-bar{background: #fff333; border-color:#fff333;}
.TAAF{background: #fff333; border-color:#fff333;}
h3{color: #222bbb !important; text-shadow: 0 1px 0 #fff333 !important;}

/*strMissionsCompleteTextColour*/
.missionHeading.black{color: #ff0000 !important;}

/*--------------------*/
/*strButtonBackgroundColour strButtonTextColour*/
.Green3.btn{background: #ddd000;color: #333fff;}

/*strNavigationBarBackgroundColour*/
#MenuBar.navbar-inner{background: #fff333 !important;}

/*strNavigationBarButtonsColour*/
.nav{background: #fff333 !important;}

/*strProfileTextBoxBackgroundColour strProfileTextBoxTextColour*/
.textboxAlt{background: #bbb111 !important; color: #ff0000 !important;}

/*strMissionTextBoxBackgroundColour strMissionTextBoxTextColour*/
.textbox{background: #bbb111 !important; color: #ff0000 !important;}